<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beckhoff.TwinCAT.HMI.BA.Icons" version="2.10.1" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.BaseTemplate" version="12.762.46" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Controls" version="12.762.46" allowedVersions="[,13)" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EcDiagnostics" version="19.0.205" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EcDiagnostics.Meta" version="1.1.205" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EcDiagnosticsControl" version="12.762.46" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Entertainment" version="1.0.1" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EventLogger" version="19.0.205" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Framework" version="12.762.46" allowedVersions="[,13)" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Functions" version="12.762.46" allowedVersions="[,13)" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.RecipeManagement" version="19.0.205" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Scope" version="14.1.205" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Scope.Meta" version="1.1.205" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.ScopeControl" version="12.762.46" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Speech" version="13.8.205" targetFramework="native1.12-tchmi" />
  <package id="Microsoft.TypeScript.MSBuild" version="4.9.5" developmentDependency="true" />
</packages>